@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
	margin:0;
	padding:0;
	color: white;
}
/*this makes it so things can stretch to the edge of the page
without the awkward little white border*/
div.nav{
	position:relative;
	z-index: 3;
}
div.logo{
	float: left;
	padding-left: 10px;
	padding-top: 10px;
/*f	margin-left: auto;*/
/*f	margin-right: auto;
	width:411px;
	padding-bottom: 15px;
	/*float: left;*/
	/*I think we should make the logo go on the left, and have the links lined up next to the logo, thoughts ? - w */
}

div.giveheader{
    float: left;
    width: 84px;
    padding: 10px 40px ;
    margin-left: 9vw;
    margin-right: 9vw;
	margin-top: 10px;
	padding-top: 10px;
	background-color: rgba(255, 51, 51, 0.9);
	border-radius: 10px;
}

div.adoptheader{
    float: left;
    width: 104px;
	padding: 10px 40px ;
	background-color: rgba(255, 153, 51, 0.9);
	margin-right: 9vw;
	margin-top: 10px;
	border-radius: 10px;
}

div.contactheader{
    float: left;
    width: 155px;
    padding: 10px 10px;
	margin-top: 10px;
	background-color: rgba(51, 153, 204, 0.9);
	border-radius: 10px;
}

a:link{
	text-decoration: none;
	color:black;
}

a:visited{
	text-decoration: none;
	color:black;
}

a:active{
	text-decoration: none;
	color:black;
}

#container{
	position:relative;
	z-index: 0;
}

img.banner{
	width:100%;
	margin-bottom: 20px;

}

h2.h2{
	margin-left:5vw;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: "Montserrat 700";
	font-size: 45px;
	width:25%;
	float:left;
}

div.givesection{
	width:90%;
	min-height:400px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom:40px;
	background-color: rgba(255, 51, 51, 0.9);
	border-radius: 10px;

}
div.rightside{
	float:left;
	width:45%;
}

div.leftside{
	float:left;
	width:45%;
}

div.giveparone{
	clear:left;
	width:100%;
	margin-left:3vw;
}

ul.givelist{
	width:100%;
	margin-left: 0;
}

div.fees{
	float:left;
	margin-left: 3vw;
}

.givepic{
	float:left;
	width:40%;
	margin-left: 150px;
	margin-right: 5%;
	margin-bottom: 10px;
}

div.donatelink{
	float:left;
	margin-left:9vw;
	background-color: white;
	margin-right:10%;
	margin-bottom: 20px;
	border: 1px black;
	padding-right:6px;
	padding-left:6px;
	border-radius: 10px; /*this rounds the borders*/
}

div.volunteerlink{
	float:left;
	margin-left:2vw;
	margin-bottom:20px;
	background-color: white;
	border-radius: 10px;
	padding-right:6px;
	padding-left:6px;
	border:1px black;
}

div.adoptsection{
	width:90%;
	min-height:500px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom:40px;
	background-color: rgba(255, 153, 51, 0.9);
	border-radius: 10px;
}

div.adoptleftside{
	float:left;
	width:32%;
	min-height:400px;
	margin-right: 10px;
}

div.adoptmiddle{
	float:left;
	width:32%;
	min-height:400px;
	margin-right: 10px;
}

div.adoptrightside{
	float:left;
	width:33%;
	min-height:400px;
	
}

h3.animalshead{
	padding-left:10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

ul.animallist1{
	float:left;
	margin-left:20%;
	line-height: 150%;
	list-style-type: none;
}

ul.animallist2{
	float:left;
	margin-top:15%;
	margin-left:20%;
	line-height: 150%;
	list-style-type: none;
}

div.adoptparone{
	clear:left;
	width:90%;
	margin-left:3vw;
}

.bigpic {
	z-index: 10;
}

ul.fees{
	width:100%;
	margin-left: 0;
	margin-top: 5px;
}

div.contactsection{
	border-radius: 10px;
	background-color: rgba(51, 153, 204, 0.9);
	clear:left;
	width:90%;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left:auto;
	min-height: 500px;
}

div.contactparone{
	float:left;
	width:90%;
	margin-left:3vw;
}

#header {
   background: yellow;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom: 0, auto;
   width:100%;
   height:280px;   /* Height of the footer */
   background:#6cf;
	 text-align: center;
	 padding-bottom: 10px;
}

#footerContact li {
  display: inline-block;
	list-style-type: none;
	margin: 30px;
}
