@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

div.logo{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}
a:link{
	text-decoration: none;
	color:black;
}

a:visited{
	text-decoration: none;
	color:black;
}

a:active{
	text-decoration: none;
	color:black;
}
img.banner{
	width:100%;
	margin-bottom: 20px;
}
div.title{
	position:relative;
	width:100%;
	margin: auto 0;
	left: 12%;
	bottom:22vw;
	z-index: 3;
	font-family: 'Open Sans', sans-serif;
	color: white;
	letter-spacing: 1vw;
	font-size: 1.5vw;
	text-shadow: 2px 2px 2px #737373;
	blur-radius: 100;
}
#give{
	margin-top:-4vw;
}
div.givemiddle{
	padding-bottom: 2vw;
	margin-left:-1vw;
}
p.givepar{
	margin-top:2vw;
}
ul.givelist{
	width:90%;
}
li.toplistitem{
	margin-top:2vw;
}
iframe.youtube1{
	margin-left:-2vw;
	margin-top:2vw;
	margin-bottom:2vw;
}
div.donatelink{
	clear:left;
	float:left;
	margin-top: 1vw;
	margin-bottom: 1vw;
	background-color: white;
	border: 1px black dashed;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:4px;
	border-radius: 10px; /*this rounds the borders*/
}
div.donatelink:hover{
	background-color: rgba(255, 51, 51, 0.9);
}
div.volunteerlink{
	float:left;
	background-color: white;
	margin-left:6vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	border-radius: 10px;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:4px;
	border:1px black dashed;
}
div.volunteerlink:hover{
	background-color: rgba(255, 153, 51, 0.9);
}
#adopt{
	margin-top:6vw;
}
.adoptpar{
	margin-top:2vw;
}
h3.foster{
	margin-top: 3vw;
}
h3.animals{
	margin-left:2vw;
}
#MainDiv{
    position: relative;
    width:450px;
    margin-top: 2vw;
    margin-left:2vw;
}
#child .NextButton{
    position: absolute;
    top: 50%;
    right: 2%;
}
#child .PreButton{
    position: absolute;
    top: 50%;
    left: 2%;
}
#slider{
    width: 450px;
    overflow: hidden;
    position: relative;
    margin-left:2vw;
}
#slider .slides{
    display: block;
    width: 8000px;
    margin: 0;
    padding: 0;
}
#slider .slide{
	float: left;
    list-style-type: none;
    height:120px;
}
#volunteer{
	margin-top:6vw;
}
div.volsection{
	margin-top:2vw;
}
iframe.youtube2{
	margin-top:1vw;
	margin-bottom:2vw;
}
#contact{
	margin-top:6vw;
}
div.locations{
	text-align: center;
}
a.mail{
	color:blue;
	text-decoration: underline;
}
a.mail:hover{
	font-weight:bold;
}
a.mail:visited{
	color:purple;
}

/***************** NAVIGATION/HAMBURGER MENU ********************/
nav ul{
	display: flex;
	flex-wrap: wrap;
	max-width: 72-px;
	margin: 0 auto;
	list-style: none;
	padding: 0;
	background-color:rgba(255, 255, 255, 0.7);
}
nav ul,
nav li{
	flex: 1;
}
nav li:last-child{border-bottom: none;}
nav a{
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 1.8rem;
}
nav a:hover{
	background: rgba(166, 166, 166,.9);
	color: #fff;
}
nav li{
	position: relative;
	line-height: 50px;
	color: #fff;
	text-align: center;
}
nav input,
nav label{ /*this is the menu icon*/
	display: none;
	width: 36px;
	height: 36px;
	background: #555;
	color: #fff;
	text-align: center;
	line-height: 36px;
	font-size: 1.6rem;
	border-radius: 4px;
}

/*these are the burger menu icon properties*/
nav label{position: absolute; top: 8px; right: 8px; transition: .4s;}
nav label:hover{cursor:pointer;}
nav label:before{
	font-family: FontAwesome;
	font-size: 24px;
	content: "|||";
	display: inline-block;
  	-webkit-transform: rotate(90deg);
  	-moz-transform: rotate(90deg);
  	-o-transform: rotate(90deg);
  	-ms-transform: rotate(90deg);
  	transform: rotate(90deg);
	text-align: center;
}

/*************** MEDIA QUERIES *******************/
@media only screen and (max-width: 720px){
	nav ul{
		display: none;
		box-shadow: 0 0 5px rgba(0,0,0, .7);
		margin-right: -6%;
		width: 20%;
	}
	nav li{
		width: 60%;
		float:left;
		background-color:rgba(255, 255, 255, 0.7);
		line-height: 200%;
		font-size: 80%;
	}
	nav input[type="checkbox"]:checked + ul{
		display: block;
		width: 200px;
	}
	nav label{display: block;}
	nav input[type="checkbox"]:checked + ul li:nth-child(1){
		color: #fff;
		display:inline;
	}
}
