@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*this makes it so things can stretch to the edge of the page
without the awkward little white border*/

div.logo{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}
a.givelink{
	margin-left:2vw;
	background-color: rgba(255, 51, 51, 0.9);
	border: 1px black dashed;
	padding:10px;
	border-radius: 10px;
}
a.adoptlink{
	border: 1px black dashed;
	background-color: rgba(255, 153, 51, 0.9);
	padding:10px;
	border-radius: 10px;
}
a.contactlink{
	border: 1px black dashed;
	background-color: rgba(51, 153, 204, 0.9);
	padding:10px;
	border-radius: 10px;
}
a:link{
	text-decoration: none;
	color:black;
}

a:visited{
	text-decoration: none;
	color:black;
}

a:active{
	text-decoration: none;
	color:black;
}
img.banner{
	width:100%;
	margin-bottom: 20px;

}
.givepic{
	float:left;
	width:40%;
	margin-left: 3vw;
}

div.donatelink{
	clear:left;
	float:left;
	margin-left:2vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	background-color: white;
	border: 1px black dashed;
	padding-right:6px;
	padding-left:6px;
	border-radius: 10px; /*this rounds the borders*/
}

div.volunteerlink{
	float:left;
	background-color: white;
	margin-left:3vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	border-radius: 10px;
	padding-right:6px;
	padding-left:6px;
	border:1px black dashed;
}

div.adoptsection{
	width:90%;
	min-height:500px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom:40px;
	background-color: rgba(255, 153, 51, 0.9);
	border-radius: 10px;
}



ul.animallist1{
	float:left;
	margin-left:20%;
	line-height: 150%;
	list-style-type: none;
}

ul.animallist2{
	float:left;
	margin-top:15%;
	margin-left:20%;
	line-height: 150%;
	list-style-type: none;
}

div.adoptparone{
	clear:left;
	width:90%;
	margin-left:3vw;
}

.bigpic {
	z-index: 10;
}

ul.fees{
	width:100%;
	margin-left: 0;
	margin-top: 5px;
}

div.contactsection{
	border-radius: 10px;
	background-color: rgba(51, 153, 204, 0.9);
	clear:left;
	width:90%;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left:auto;
	min-height: 500px;
}

div.contactparone{
	float:left;
	width:90%;
	margin-left:3vw;
}

#header {
   background: yellow;
   padding:10px;
}
#body {
   padding:10px;
}
footer {
   position:absolute;
   width:100%;
   background:#6cf;
	 text-align: center;
	 font-family: "Montserrat";
   font-weight: 400;
}

#footerContact li {
  display: inline-block;
	list-style-type: none;
	margin: 30px;
}
